.header {
    min-height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.header__logo {
    background-image: url(./Logo.svg);
    width: 106px;
    height: 32px;
    display: inline-block;
    text-indent: -9999px;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
}

.header__nav-link {
    margin-right: 3rem;
    color: inherit;
    transition: color 0.3s;
    line-height: 2.28rem;
}

.header__nav-link:hover {
    color: black;
    text-decoration: none;
}

.header__nav-link--right {
    margin-left: auto;
}

@media (max-width: 992px) {
    header {
        padding: 30px 0;
    }
    .header__nav {
        flex-direction: column;
        margin-top: 30px;
    }

    .header__nav-link {
        margin: 0 30px 30px 0;
    }
}