.ticket .ticket__container {
    border-left: 10px solid #48c77b;
}
.ticket:last-child {
    margin-bottom: 60px;
}
.submitted .ticket__container {
    border-left: 10px solid #007aff;
}
.inProgress {
    border-color: rgb(255, 238, 0);
}
.returnedToQueue {
    border-color: #ff6332;
}
.completed {
    border-color: #48c77b;
}
/* .ticket:nth-child(3n + 3) .ticket__container {
    border-color: #ff6332;
}

.ticket:nth-child(3n + 2) .ticket__container {
    border-color: #007aff;
} */

.ticket__container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.ticket__info {
    border-right: 1px solid #e0e0e0;
}

div.ticket__content {
    padding-left: 30px;
}

.ticket__status {
    text-transform: capitalize;
}

.ticket__actions {
    display: flex;
}

.ticket__actions a {
    margin-right: 15px;
}

@media (max-width: 992px) {
    .ticket__info {
        border: 0;
        padding: 0;
    }

    div.ticket__content {
        padding-left: 0;
    }
}
